#canvas{
	width:500px;
	height:500px;
	border-style:solid;
	border-color:black;
}


.desaturate, .desaturate *  { 
    background-color: #fff
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

